.container {
  width: 96%;
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 3%;
}

.container .card {
  position: relative;
  height: 300px;
  width: 23%;
}
.container .card img {
  border-radius: 20px;
}

.container .card:hover .imageDropDown {
  display: flex;
}

/* image  imageDropDown*/
.imageDropDown {
  z-index: 99;
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  display: none;
}

.imageDropDown li {
  width: 20%;
  box-shadow: 0px 0px 10px 2px rgb(113, 113, 113);
  border-radius: 5px;
  height: 40px;
  margin-right: 3%;
  list-style: none;
  background-color: rgb(255, 255, 255);
}
.imageDropDown li:hover {
  cursor: pointer;
  background-color: rgb(27, 181, 242);
}

.imageDropDown li {
  color: rgb(71, 71, 71);
  display: flex;
  align-items: center;
  font-size: 1.3vw;
  justify-content: center;
}
