* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* header section styling */

header {
  display: flex;
  z-index: 999;
  padding-bottom: 2%;
  border-bottom: 1px solid rgb(214, 214, 214);
}

header .icon {
  margin-left: 2%;
  margin-top: 1.5%;
  position: relative;
  width: 70px;
  height: 50px;
}

header .brand_title {
  padding-top: 2%;
  font-size: 1.8vw;
}

header .brand_title .sub_brand_name {
  color: #12addf !important;
}

/* links_container */
header .links_container {
  display: flex;
  width: 55%;
  justify-content: center;
  margin-left: 4%;
  list-style: none;
}
header .links_container li {
  margin-right: 5%;
  font-weight: 600;
  font-size: 1.2vw;
  margin-top: 4.5%;
}

header .links_container li a {
  color: rgb(57, 57, 57);
}

/* header right side icons */
header .header_right {
  display: flex;
  width: 20%;
  justify-content: center;
  list-style: none;
}
header .header_right li {
  position: relative;
  padding-right: 18px;
  font-size: 1.8vw;
  margin-top: 10%;
}
header .header_right li i a {
  color: rgb(45, 45, 45);
}
header .header_right li i a:hover {
  color: rgb(0, 187, 255);
}
header .header_right li i a:hover span {
  color: rgb(0, 187, 255);
}

header .header_right li i {
  cursor: pointer;
}
header .header_right li i span {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 0.9vw;
  top: -30%;
  border-radius: 60px;
  padding: 0.2vw 0.7vw;
  font-weight: 600;
  right: 15%;
}

/* user drop down styling */
header .header_right li ul {
  display: none;
  position: absolute;
  top: 90%;
  right: 45%;
  z-index: 999;

  padding: 0vw 1vw;
  list-style: none;
  padding-bottom: 43%;
  box-shadow: 2px 2px 12px 2px rgb(191, 191, 191);
  border-top: 1px solid rgb(189, 189, 189);
  background-color: white;
  transition: all 2s;
}

header .header_right li ul li {
  width: 145px;
  padding-top: 3%;
  font-size: 1.1vw !important;
}
header .header_right li ul li a {
  color: black;
}

header .header_right li ul li:hover a {
  color: rgb(0, 187, 255);
}
header .header_right li ul li:hover{
  color: rgb(0, 187, 255);
cursor: pointer;
}

.userMenu:hover .userSubMenu {
  display: block !important;
}
