.topCategory{
    display: flex;
    background-color: rgb(237, 237, 237);
    height: 350px;
    width: 90%;
    border-radius: 15px;
    margin: 5% 5%;
}

.topCategory .description{
    width: 70%;
    padding-left: 3%;
    height: 300px;
}

.topCategory .description h1{
    margin-top: 10%;
    margin-bottom: 2%;
}

.topCategory .description .path{
    display: flex;
    
}
.topCategory .description .path .mainPath{
font-size: 1.2vw;
font-weight: 600;
}
.topCategory .description .path .mainPath a{
    color: black;
}
.topCategory .description .path .mainPath a:hover{
    color: rgb(0, 157, 255);

}

.topCategory .description .path .arrowRight{
font-size: 0.8vw;
margin-top: 0.6%;
margin-left: 1%;
}

.topCategory .description .path .parentPath{
color: rgb(1, 120, 232);
margin-left: 1%;
font-weight: 600;
}

.desc{
    margin-top: 2%;
    width: 98%;
}
.topCategory .image_section{
    width: 23%;
position: relative;
height: 20vw;
margin-left: 4%;
margin-top: 2%;
}
.topCategory .image_section img{
    border-radius: 10px;
}



/* mainCategoryPage */
.mainCategoryPage{
    margin-bottom: 5%;
    display: flex;
}
/* left category */
.mainCategoryPage .leftCategory{
    width: 25%;
    padding-left: 5%;
}
.mainCategoryPage .leftCategory .mainCategory{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(214, 214, 214);
    list-style: none;
    padding-bottom: 8%;
    margin-bottom: 10%;
}

.mainCategoryPage .leftCategory .mainCategory .arrowDown{
margin-left: 47%;
    color: rgb(39, 39, 39);
font-size: 1.4vw;
}
.mainCategoryPage .leftCategory .mainCategory h1{
    font-size: 1.6vw;
}
.mainCategoryPage .leftCategory .mainCategory h1:hover{
    cursor: pointer;
}


.mainCategoryPage .leftCategory .mainCategory .subCategories{
max-height: 380px;
overflow-x: hidden;
margin-top: 2%;
overflow-y: auto;

}
.mainCategoryPage .leftCategory .mainCategory .subCategories li{
    width: 100%;
    padding: 2% 0;
margin-top: 1%;
}

.mainCategoryPage .leftCategory .mainCategory .subCategories li input{
    margin-right: 2%;
    width: 15px;
    height: 15px;

}


.mainCategoryPage .leftCategory .mainCategory .subCategories li a{
    color: #696969;
}
.mainCategoryPage .leftCategory .mainCategory .subCategories li a:hover,.mainCategoryPage .leftCategory .mainCategory .subCategories li a:hover .countNumber{
    color: #028bcb;

}


.mainCategoryPage .leftCategory .mainCategory .subCategories::-webkit-scrollbar {
    width: 3px;
  }
  
  .countNumber{
    color: #969696;
  }
  /* Track */
  .mainCategoryPage .leftCategory .mainCategory .subCategories::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(242, 242, 242); 
    border-radius: 10px;
  }
   
  /* Handle */
  .mainCategoryPage .leftCategory .mainCategory .subCategories::-webkit-scrollbar-thumb {
    background: rgb(188, 188, 188); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .mainCategoryPage .leftCategory .mainCategory .subCategories::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

/* right side */
.mainCategoryPage .itemCategory{

    width: 75%;

}